<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Mi Sitio Web</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=".../djangoapp/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=".../djangoapp/contact">Contact Us</a>
                </li>
            </ul>
            
            {% if user.is_authenticated %}
            <!-- Mostrar el nombre del usuario autenticado y botón de cierre de sesión -->
            <p class="navbar-text mr-3">¡Hola, {{ user.username }}!</p>
            <a class="btn btn-outline-danger" href="{% url 'logout' %}">Cerrar sesión</a>
            {% else %}
            <!-- Formulario de inicio de sesión y enlace de registro -->
            <form class="form-inline ml-auto">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="text" placeholder="Nombre de usuario" aria-label="Username">
                <input class="form-control mr-sm-2" type="password" placeholder="Contraseña" aria-label="Password">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Iniciar sesión</button>
            </form>
            <a class="btn btn-outline-primary ml-2" href=".../ruta_de_registro">Registro</a>
            {% endif %}
        </div>
    </nav>
    

    <!-- Add reviews as cards -->

    </body>

</html>